---
- name: Deploy application
  hosts: app
  become: true
  vars:
    mongo_bind_ip: 0.0.0.0
    db_host: 192.168.11.10
    deploy_user: ubuntu

  tasks:
  - name: install git
    apt:
      name: git
      state: present
    # become: true

  - name: Fetch the latest version of application code
    git:
      repo: 'https://github.com/express42/reddit.git'
      dest: /home/{{ deploy_user }}/reddit
      version: monolith
    notify: reload reddit
    become_user: ubuntu

  - name: Bundle install
    bundler:
      state: present
      chdir: /home/{{ deploy_user }}/reddit
    become_user: ubuntu

  handlers:
  - name: reload reddit
    systemd: name=reddit state=restarted
    # become: true
