[Unit]
Description=Puma Rails Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/reddit/
ExecStart=/usr/local/bin/puma
TimeoutSec=15
Restart=always
StartLimitInterval=30

[Install]
WantedBy=multi-user.target
