cloud_id                 = "your_cloud_id"
folder_id                = "your_folder_id"
zone                     = "ru-central1-a"
service_account_key_file = "../files/key.json"
public_key_path          = "/home/centhis/.ssh/centhis.pub"
private_key_path         = "/home/centhis/.ssh/centhis"
image_id                 = "your_image_id"
subnet_id                = "your_subnet_id"
network_id               = "your_network_id"
count-reddit-apps        = 1
app_disk_image           = "your_app_disk_image_id"
db_disk_image            = "your_db_disk_image_id"
reddit_app_vm_name       = "reddit-app-stage"
reddit_db_vm_name        = "reddit-db-stage"
